*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 10px;
    /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
    /*}*/
}
a {
  color: #00B7FF;
}

.inv {
    border:lightgray solid;
    border-width: 0px 0px 1px 0px;
    padding: 20px; 
  	margin-top:10px;
    height: 100px;

}


.icon {
	position: relative;
    top:-22px;
	left:-22px;
}

.arrow {

	max-width:20%;
    display:inline-flex;

}

* {
font-family: 'Oswald', sans-serif;
}

#from {
	position:relative;

	font-size: 150%;
    display: inline-flex;
}

#to {
	position:relative;

	font-size: 150%;
    display: inline-flex;
}

.time {
    font-size:20px;
}

.detail {
    position:relative;
    top:-15px;
}
@media only screen and (max-width : 992px) {
 
    .inv {
        border:lightgray solid;
        border-width: 0px 0px 1px 0px;
        padding: 20px;
        margin-top:10px;
        height: 150px;

    }

    #title {
        display:none;
    }


}
a {
    display: block;
}

.inv:hover {
    background-color: #fffeef;
}

.inviter {
    display:inline;
}


#title {
    text-align: center;
    border:lightgray solid;
    border-width: 0px 0px 1px 0px;
}

.navbar {
    color: red;
    background-color: #CC3333;
}


